@font-face {
  font-family: 'Mechanoarc';
  src: url("./../font/Mechanoarc.otf") format("opentype");
  src: url(./../font/Mechanoarc.otf) format("opentype");
}

@font-face {
  font-family: 'HeadUpDaisy';
  src: url("./../font/x14y24pxHeadUpDaisy.ttf") format("truetype");
  src: url(./../font/x14y24pxHeadUpDaisy.ttf) format("truetype");
}

@font-face {
  font-family: 'SmartFontUI';
  src: url("./../font/SmartFontUI.ttf") format("truetype");
  src: url(./../font/SmartFontUI.ttf) format("truetype");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  font-family: SmartFontUI, HeadUpDaisy;
}

img {
  width: 100%;
  max-width: 100%;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  z-index: 1;
}

.canvas-body {
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
          animation: fadeIn 2s ease 0s 1 normal;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  z-index: 3;
}

@media (max-width: 1024px) {
  .canvas-body {
    top: 50px;
  }
}

@media (max-width: 767px) {
  .canvas-body {
    top: 15px;
  }
}

.card {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background: rgba(232, 236, 241, 0.7);
}

.title {
  padding: 20px;
  top: 50%;
  color: white;
}

.title h1 {
  font-size: 4.5em;
  font-family: Mechanoarc;
}

@media (max-width: 767px) {
  .title h1 {
    font-size: 2.5em;
  }
}

.menu {
  text-align: center;
  color: white;
  font-family: Mechanoarc;
  margin-top: 50px;
}

.menu a {
  color: white;
}

.menu a:visited {
  color: white;
}

.menu .menu-button {
  font-size: 2em;
}

.menu .menu-contents {
  margin: 0 auto;
  border-top: 5px solid white;
  width: 60%;
  font-size: 26px;
}

.menu .menu-contents .menu-child {
  padding: 10px;
}

.menu .menu-contents .menu-child a:hover {
  padding: 10px;
  border-bottom: 5px solid #ada;
}

.contents {
  width: 100%;
  height: 100%;
}

.light-modal {
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
          animation: fadeIn 1s ease 0s 1 normal;
  z-index: 4;
}

.light-modal .light-modal-content {
  background: #bdc3c7;
  width: 60%;
}

.light-modal .light-modal-content .light-modal-close-btn, .light-modal .light-modal-content .light-modal-close-icon {
  background: #2e3131;
  border: 1px;
}

.light-modal .light-modal-content .light-modal-heading {
  font-size: 32px;
}

.light-modal .light-modal-content .light-modal-body {
  color: black;
}

.light-modal .light-modal-content .light-modal-body h3 {
  font-size: 26px;
}

.light-modal .light-modal-content .light-modal-body p {
  font-size: 18px;
}

.counter {
  width: 60%;
  margin: 0 auto;
  font-family: Mechanoarc,SmartFontUI;
  text-align: center;
  color: #fff;
}

.counter .counter-title {
  font-size: 2em;
  border-bottom: 5px solid #fff;
}

.counter .counter-body {
  padding: 10px;
  font-size: 23px;
  letter-spacing: 2.2px;
}

/*Share Start*/
.share {
  margin: 50px auto;
  width: 60%;
}

.share .share-title {
  text-align: center;
  font-family: Mechanoarc;
  font-size: 2em;
  color: #fff;
}

.share .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 5px solid white;
}

.share .share_btn {
  text-decoration: none;
  width: 25%;
  margin: 5px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  -webkit-transition: .3s;
  transition: .3s;
}

.share .share_btn .fas, .share .share_btn .fab {
  line-height: 50px;
}

.share .share_btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  border: 0;
  color: #fff;
}

.share .share_btn.tw:hover {
  background: #22b8ff;
}

.share .share_btn.fb:hover {
  background: #6680d8;
}

.share .share_btn.htb:hover {
  background: #49a8fb;
}

.share .share_btn.ln:hover {
  background: #1dcd00;
}

/*Share End*/
.scroll {
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #fff;
  border-left: solid 1px #ececec;
}

.scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
}

.member {
  border: 1px solid #ccc;
  border-collapse: collapse;
  max-height: 300px;
  width: 100%;
  white-space: nowrap;
}

.member thead {
  background: #333;
  color: #fff;
}

.member thead th {
  padding: 10px;
  border-right: #ccc;
}

.member tbody a {
  color: #485859;
}

.member tbody tr {
  border-bottom: 1px solid #ccc;
}

.member tbody tr:nth-child(even) td {
  background: #efffef;
}

.member tbody tr:nth-child(odd) td {
  background: #eaeaff;
}

.member tbody th {
  padding: 10px;
  background: #efefef;
  color: #222;
}

.member tbody td {
  padding: 10px;
  border-left: 2px solid #ccc;
  background: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background: rgba(232, 236, 241, 0.7);
  color: white;
}

footer .footer-inner {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  text-align: center;
}

@media (max-width: 767px) {
  footer .footer-inner {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */